admin_user_id: my.user@my_org.com
application_name: GoogleDirectoryDaemon-test
authorizer: DefaultAuthorizer
message_handler_map:
  request.gapps.create: DefaultMessageHandler
rabbitmq_host: localhost
rabbitmq_port: 5672
rabbitmq_queue_name: gdirdaemon
exchange_name: exchange
rabbitmq_user: my_user
rabbitmq_password: P4ssWord